<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_category.name %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @admin_category.posts %>
</p>

<%= link_to 'Edit', edit_admin_category_path(@admin_category) %> |
<%= link_to 'Back', admin_categories_path %>
