<% provide(:name, @category.name) %>
<% provide(:description, @category.description) %>
<% provide(:featured_image, @category.featured_image) %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <% @posts.each do |_item| %>
        <div class="post-preview">
          <%= link_to post_path(_item) do %>
              <h2 class="post-title">
                <%= _item.name %>
              </h2>
          <% end %>
          <p class="post-meta">Đăng bởi <%= User.find(_item.user_id).email %> vào <%= _item.created_at.strftime("%d/%m/%Y") %></p>
          <h3 class="post-subtitle">
            <small><%= _item.content.truncate(100, omission: '...').html_safe %></small>
            <div class='clearfix'></div>
          </h3>
        </div>
        <hr>
    <% end %>
    <!--Pager-->
    <ul class="pager">
      <%= paginate @posts %>
    </ul>
  </div>
</div>

